/** @format */

.image_h700 {
  height: 500px;
  @media (max-width: 768px) {
    height: 100%;
  }
  img {
    object-fit: cover;
    width: 530px;
    height: 530px !important;
  }
}
.image_h375 {
  height: 375px;
  @media (max-width: 768px) {
    height: 100%;
  }
}
.image_3_2 {
  //background-color: $g200;
  margin-left: 15%;
  position: relative;
  width: 100%;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    width: 360px;
    box-shadow: 3px 3px 3px 0 #dee2e6;
  }
  @include media-breakpoint-down(md) {
    height: 100%;
  }
}
